body {
  background-color: #e9e9e9;
}

.border-tst {
  border: solid 1px black;
}

.vh-100 {
  min-height: 400px;
  min-width: 375px;
}

.vh-60 {
  height: 60vh;
}

a {
  color: #33aa33;
}

a:hover {
  color: #1f501f;
  text-decoration: none;
}

h2 {
  font-size: 2em;
}

.rounded-img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  text-align: center;
}

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: cover;
  fill: #33a533;
}

.icon:hover,
.icon:focus {
  fill: #1f501f;
}

.icon-1 {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: cover;
  fill: white;
}

.icon-1:hover,
.icon-1:focus {
  fill: #8e99aa;
}

.live-1 {
  border: solid 1px white;
  border-radius: 5px;
  color: white;
  padding: 0.5em;
}

.live-1:hover,
.live-1:focus {
  color: #8e99aa;
  border: solid 1px #8e99aa;
}

.project-c-1 {
  background-color: rgb(43, 43, 138);
}

.project-c-2 {
  background-color: blueviolet;
}

.img-desktop {
  max-height: 35vh;
  max-width: 70%;
  min-height: 170px;
}

.img-phone {
  max-height: 30vh;
  max-width: 20%;
  margin-left: -5vh;
  min-height: 120px;
}

.line-height-p {
  line-height: 1.5em;
}

@media (min-height: 576px) {
  .vh-60 {
    max-height: 40vh;
  }
}

@media (min-height: 992px) {
  .vh-60 {
    max-height: 25vh;
  }
}

@media (min-width: 476px) {
  .img-desktop{
    max-height: 50vh;
  }
  .img-phone {
    max-height: 40vh;    
  }
}