body {
  background-color: #e9e9e9;
}

.border-tst {
  border: solid 1px black;
}

.vh-100-c {
  min-height: 400px;
  min-width: 375px;
  height: 100vh;
}

.vh-60 {
  height: 60vh;
}

a {
  color: #27632c;
}

a:hover {
  color: #1f501f;
  text-decoration: none;
}

h2 {
  font-size: 2em;
}

.d-md-top-fix {
  display: none;
}

.design-info {
  font-size: 0.65em;
}

.rounded-img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  text-align: center;
}

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: cover;
  fill: #27632c;
}

.icon:hover,
.icon:focus {
  fill: #1f501f;
}

.icon-1 {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: cover;
  fill: white;
}

.icon-1:hover,
.icon-1:focus {
  fill: #8e99aa;
}

.live-1 {
  border: solid 1px white;
  border-radius: 5px;
  color: white;
  padding: 0.5em;
}

.live-1:hover,
.live-1:focus {
  color: #8e99aa;
  border: solid 1px #8e99aa;
}

.project-c-1,
.project-c-6 {
  background-color: #234f1e;
}

.project-c-2 {
  background-color: #607d3b;
}

.project-c-3 {
  background-color: #405e44;
}

.project-c-4 {
  background-color: #729c69;
}

.project-c-5 {
  background-color: #306435;
}

.img-desktop {
  max-height: 35vh;
  max-width: 70%;
  min-height: 170px;
}

.img-phone {
  max-height: 30vh;
  max-width: 20%;
  margin-left: -5vh;
  min-height: 120px;
}

.line-height-p {
  line-height: 1.5em;
}

.selected,
.unselected {
  display: flex;
}

.top-btn {
  border: solid 1px black;
}

.top-md-btn {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.top-btn,
.top-md-btn {
  background-color: green;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
}

.top-btn:hover,
.top-md-btn:hover {
  background-color: #06ce42;
  cursor: pointer;
}

.btn-icon {
  font-size: 1em;
}

.btn-txt-icon {
  font-size: 0.75em;
}

.text-btn-color {
  color: #297e52 !important;
}

.button {
  cursor: pointer;
  margin-left: 5px;
  margin-bottom: 15px;
  text-shadow: 0 -1px 0 #4a8a65, 0 1px 1px #c2dece;
  box-sizing: border-box;
  font-size: 1.15em;
  text-decoration: none;
  font-weight: bold;
  color: #5ea97d;
  height: 65px;
  line-height: 65px;
  padding: 0 0.5rem;
  display: inline-block;
  width: auto;
  background: linear-gradient(to bottom, #9ceabd 0%, #9ddab6 26%, #7fbb98 100%);
  border-radius: 5px;
  border-top: 1px solid #c8e2d3;
  border-bottom: 1px solid #c2dece;
  top: 0;
  transition: all 0.06s ease-out;
  position: relative;
}
.button:visited {
  color: #5ea97d;
}
.button:hover {
  background: linear-gradient(to bottom, #baf1d1 0%, #b7e4ca 26%, #96c7ab 100%);
}
.button:active {
  top: 6px;
  text-shadow: 0 -1px 0 #7fbb98, 0 1px 1px #c2dece, 0 0 4px white;
  color: white;
}
.button:active:before {
  top: 0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.7), 0 3px 9px rgba(0, 0, 0, 0.2);
}
.button:before {
  display: inline-block;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  top: 6px;
  border-radius: 5px;
  height: 65px;
  background: linear-gradient(to top, #1e5033 0%, #378357 6px);
  transition: all 0.078s ease-out;
  box-shadow: 0 1px 0 2px rgba(0, 0, 0, 0.3), 0 5px 2.4px rgba(0, 0, 0, 0.5), 0 10.8px 9px rgba(0, 0, 0, 0.2);
}


@media (min-height: 576px) {
  .vh-60 {
    max-height: 40vh;
  }
}

@media (min-height: 992px) {
  .vh-60 {
    max-height: 25vh;
  }
}

@media (min-width: 992px) {
  .d-md-fixed-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
  }
  .d-md-width-right {
    margin-left: 20%;
    margin-top: 15vh;
  }
  .vh-100-c {
    height: 85vh;
  }
  .img-desktop{
    max-height: 45vh;
  }
  .img-phone {
    max-height: 40vh; 
  }
  .d-md-top-fix {
    display: block;
    position: fixed;
    top: 0;
    height: 15vh;
    width: 80%;
  }
  .selected {
    display: flex;
  }
  .unselected {
    display: none;
  }
}
